body {
    background-color: #DCDCDC; /* серый фон страницы */
}

.navbar {
    background-color: #A9A9A9; /* темно-серый фон верхнего меню */
}

.navbar a {
    color: 	#000000; /* цвет текста в меню */
    font-size: 24px; /* увеличиваем размер шрифта */
    transition: color 0.3s ease; /* добавим плавный переход цвета */
}

.navbar a:hover {
    color: white; /* цвет текста при наведении */
}

.logo {
    height: 50px; /* высота логотипа */
}

.menu {
    margin-top: 05px;
}

/* Черная разделительная полоса */
.divider {
    height: 2px; /* высота разделительной полосы */
    background-color: #000000; /* цвет разделительной полосы */
    margin-top: 0; /* отступ сверху, можете настроить по желанию */
    margin-bottom: 20px; /* отступ снизу, можете настроить по желанию */
}

.image-slider {
    position: relative;
    text-align: center;
}

.image-slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

#sliderImage {
    max-width: 100%;
    height: auto;
    transition: opacity 0.5s ease; /* Добавляем плавность */
}

.slide-out {
    opacity: 0; /* Исходящее состояние */
}

.slide-in {
    opacity: 1; /* Входящее состояние */
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}
