body {
    background-color: #808080; /* Серый фон страницы */
}

.navbar .nav-link {
    color: #000000 !important; /* Используем более специфичный селектор и добавляем !important */
    font-size: 24px; /* Размер шрифта */
    transition: color 0.3s ease; /* Плавный переход цвета */
}

.navbar a {
    color: #000000; /* Цвет текста в меню */
    font-size: 24px; /* Размер шрифта */
    transition: color 0.3s ease; /* Плавный переход цвета */
}

.navbar a:hover {
    color: white; /* Цвет текста при наведении */
}

.logo {
    height: 50px; /* Высота логотипа */
}

.image-slider {
    overflow: hidden; /* Скрыть все, что выходит за пределы контейнера */
    width: 100%; /* Ширина контейнера */
    position: relative; /* Обеспечить позиционирование кнопок */
}

#sliderImage {
    width: 100%; /* Убедиться, что изображение занимает всю ширину */
    transition: transform 1s ease; /* Плавный переход для трансформации */
}

.slide-out {
    transform: translateX(-100%); /* Убираем влево */
}

.slide-in {
    transform: translateX(0); /* Показываем изображение с нуля */
    opacity: 0; /* Начальная непрозрачность */
    animation: fadeIn 1s forwards; /* Добавляем эффект появления */
}
.contacts a {
    color: #2F4F4F; /* цвет текста ссылок на социальные сети */
    font-size: 18px; /* Устанавливает размер шрифта (при необходимости) */
}

.contacts a:hover {
    color: #ffffff; /* Цвет текста при наведении (при необходимости) */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Полная непрозрачность в конце анимации */
    }
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Выравнивание кнопок по центру вертикально */
    z-index: 10; /* Располагаем кнопки выше изображения */
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.divider {
    height: 2px;
    background-color: black;
    margin: 20px 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
